In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("anti.csv")

In [6]:
df.head()

,id,Category_name,Category_number,Product,Manufacturer / product label / country of origin,Procured_in,Antioxidant_content_in_mmol/100g,Comment
0,1,NaN,1,"Amla berries, dried",India,India,261.53,3
1,2,NaN,1,"Amla, Indian Gooseberries, whole, canned","Roopaks, Ajmal Khan, N. Dehli",India,13.27,3
2,3,NaN,1,"Amla, syrup from canned Indian Gooseberries","Roopaks, Ajmal Khan, N. Dehli",India,29.70,3
3,4,NaN,1,"Bilberries, wild",Norway,Norway,7.57,3
4,5,NaN,1,"Bilberries, wild",Norway,Norway,8.55,4